# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="REPLACE_YOUR_DATABASE_URL"
# uncomment next line if you use Prisma <5.10
# DATABASE_URL_UNPOOLED="postgresql://next-auth_owner:RuZyrYk0a6sQ@ep-bold-sunset-a5w33rbp.us-east-2.aws.neon.tech/next-auth?sslmode=require"

AUTH_SECRET="REPLACE_YOUR_AUTH_SECRET"

GITHUB_CLIENT_ID="REPLACE_YOUR_GITHUB_CLIENT_ID"
GITHUB_CLIENT_SECRET="REPLACE_YOUR_GITHUB_CLIENT_SECRET"

GOOGLE_CLIENT_ID="REPLACE_YOUR_GOOGLE_CLIENT_ID"
GOOGLE_CLIENT_SECRET="REPLACE_YOUR_GOOGLE_CLIENT_SECRET"